*{
    background-color: darkgray;
}

h1 {
    color: red;
    position: relative;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes anim {
    0%   {color:magenta; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:cyan; left:200px; top:200px;}
    75%  {color:chartreuse; left:0px; top:200px;}
    100% {color:magenta; left:0px; top:0px;}
}