body {
    background-color: blue;
    position: relative;
}

#changing-text {
    font-size: 45px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
  
@keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
}

#changing-text.animate {
    animation: changeColor 2.5s infinite;
}

#text {
    color: white;
    font-size: 24px;
    text-align: left;
    margin-top: 0px;
}

#bonhomme {
    position: absolute;
    top: 150%; /* Removed '+' from '+150%' */
    left: 10px;
    transform: translateY(-50%);
    color: white;
}
