h1 {
    color: red;
    position: relative;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes anim {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
}